################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStore/.vs/BookStore/v17/.suo
/BookStore/.vs/BookStore/FileContentIndex/read.lock
/BookStore/.vs/BookStore/FileContentIndex/d901b7d3-a948-4864-b6d8-88c63e040c2b.vsidx
/BookStore/.vs/BookStore/FileContentIndex/905700db-d7fb-4eac-a0dd-77646c38b9d9.vsidx
/BookStore/.vs/BookStore/FileContentIndex/8a3a2f05-29d5-4ad2-ac3e-0793f6319344.vsidx
/BookStore/.vs/BookStore/config/applicationhost.config
/.vs/BookStore_mvc/v17/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/BookStore/BookStore/bin/Debug/netcoreapp3.1/BookStore.runtimeconfig.json
/BookStore/BookStore/bin/Debug/netcoreapp3.1/BookStore.runtimeconfig.dev.json
/BookStore/BookStore/bin/Debug/netcoreapp3.1/BookStore.pdb
/BookStore/BookStore/bin/Debug/netcoreapp3.1/BookStore.exe
/BookStore/BookStore/bin/Debug/netcoreapp3.1/BookStore.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/BookStore.deps.json
/BookStore/BookStore/bin/Debug/netcoreapp3.1/appsettings.json
/BookStore/BookStore/bin/Debug/netcoreapp3.1/appsettings.Development.json
/BookStore/BookStore/obj/Debug/netcoreapp3.1/staticwebassets/BookStore.StaticWebAssets.Manifest.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.RazorTargetAssemblyInfo.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.pdb
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.MvcApplicationPartsAssemblyInfo.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.genruntimeconfig.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.GeneratedMSBuildEditorConfig.editorconfig
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.dll
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.csproj.FileListAbsolute.txt
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.csproj.CoreCompileInputs.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.csproj.BuildWithSkipAnalyzers
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.csproj.AssemblyReference.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.assets.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.AssemblyInfoInputs.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.AssemblyInfo.cs
/BookStore/BookStore/obj/Debug/netcoreapp3.1/apphost.exe
/BookStore/BookStore/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/BookStore/BookStore/obj/Release/netcoreapp3.1/BookStore.GeneratedMSBuildEditorConfig.editorconfig
/BookStore/BookStore/obj/Release/netcoreapp3.1/BookStore.AssemblyInfoInputs.cache
/BookStore/BookStore/obj/Release/netcoreapp3.1/BookStore.AssemblyInfo.cs
/BookStore/BookStore/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/BookStore/BookStore/obj/project.nuget.cache
/BookStore/BookStore/obj/project.assets.json
/BookStore/BookStore/obj/BookStore.csproj.nuget.g.targets
/BookStore/BookStore/obj/BookStore.csproj.nuget.g.props
/BookStore/BookStore/obj/BookStore.csproj.nuget.dgspec.json
