################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStore/.vs/BookStore/v17/.suo
/BookStore/.vs/BookStore/FileContentIndex/read.lock
/BookStore/.vs/BookStore/FileContentIndex/d901b7d3-a948-4864-b6d8-88c63e040c2b.vsidx
/BookStore/.vs/BookStore/FileContentIndex/905700db-d7fb-4eac-a0dd-77646c38b9d9.vsidx
/BookStore/.vs/BookStore/FileContentIndex/8a3a2f05-29d5-4ad2-ac3e-0793f6319344.vsidx
/BookStore/.vs/BookStore/config/applicationhost.config
/.vs/BookStore_mvc/v17/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/BookStore/BookStore/bin/Debug/netcoreapp3.1/BookStore.runtimeconfig.json
/BookStore/BookStore/bin/Debug/netcoreapp3.1/BookStore.runtimeconfig.dev.json
/BookStore/BookStore/bin/Debug/netcoreapp3.1/BookStore.pdb
/BookStore/BookStore/bin/Debug/netcoreapp3.1/BookStore.exe
/BookStore/BookStore/bin/Debug/netcoreapp3.1/BookStore.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/BookStore.deps.json
/BookStore/BookStore/bin/Debug/netcoreapp3.1/appsettings.json
/BookStore/BookStore/bin/Debug/netcoreapp3.1/appsettings.Development.json
/BookStore/BookStore/obj/Debug/netcoreapp3.1/staticwebassets/BookStore.StaticWebAssets.Manifest.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.RazorTargetAssemblyInfo.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.pdb
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.MvcApplicationPartsAssemblyInfo.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.genruntimeconfig.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.GeneratedMSBuildEditorConfig.editorconfig
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.dll
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.csproj.FileListAbsolute.txt
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.csproj.CoreCompileInputs.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.csproj.BuildWithSkipAnalyzers
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.csproj.AssemblyReference.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.assets.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.AssemblyInfoInputs.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.AssemblyInfo.cs
/BookStore/BookStore/obj/Debug/netcoreapp3.1/apphost.exe
/BookStore/BookStore/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/BookStore/BookStore/obj/Release/netcoreapp3.1/BookStore.GeneratedMSBuildEditorConfig.editorconfig
/BookStore/BookStore/obj/Release/netcoreapp3.1/BookStore.AssemblyInfoInputs.cache
/BookStore/BookStore/obj/Release/netcoreapp3.1/BookStore.AssemblyInfo.cs
/BookStore/BookStore/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/BookStore/BookStore/obj/project.nuget.cache
/BookStore/BookStore/obj/project.assets.json
/BookStore/BookStore/obj/BookStore.csproj.nuget.g.targets
/BookStore/BookStore/obj/BookStore.csproj.nuget.g.props
/BookStore/BookStore/obj/BookStore.csproj.nuget.dgspec.json
/BookStore/.vs/BookStore/DesignTimeBuild/.dtbcache.v2
/BookStore/.vs/BookStore/FileContentIndex/f8f10758-d13c-47ca-927a-736d10e4760d.vsidx
/BookStore/.vs/BookStore/FileContentIndex/9fa8386b-51f2-43df-9d14-730597d6a73e.vsidx
/BookStore/.vs/BookStore/FileContentIndex/551a3f54-3e68-40a5-979a-4ca7d97e7032.vsidx
/BookStore/BookStore/obj/Release/netcoreapp3.1/BookStore.csproj.AssemblyReference.cache
/BookStore/BookStore/obj/Release/netcoreapp3.1/BookStore.assets.cache
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/js/bootstrap.min.js.map
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/js/bootstrap.min.js
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/js/bootstrap.js.map
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/js/bootstrap.js
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/js/bootstrap.bundle.min.js.map
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/js/bootstrap.bundle.min.js
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/js/bootstrap.bundle.js.map
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/js/bootstrap.bundle.js
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/css/bootstrap.min.css.map
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/css/bootstrap.min.css
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/css/bootstrap.css.map
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/css/bootstrap.css
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/css/bootstrap-reboot.min.css.map
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/css/bootstrap-reboot.min.css
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/css/bootstrap-reboot.css.map
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/css/bootstrap-reboot.css
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/css/bootstrap-grid.min.css.map
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/css/bootstrap-grid.min.css
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/css/bootstrap-grid.css.map
/BookStore/BookStore/wwwroot/lib/twitter-bootstrap/css/bootstrap-grid.css
/BookStore/BookStore/wwwroot/lib/jquery/jquery.slim.min.map
/BookStore/BookStore/wwwroot/lib/jquery/jquery.slim.min.js
/BookStore/BookStore/wwwroot/lib/jquery/jquery.slim.js
/BookStore/BookStore/wwwroot/lib/jquery/jquery.min.map
/BookStore/BookStore/wwwroot/lib/jquery/jquery.min.js
/BookStore/BookStore/wwwroot/lib/jquery/jquery.js
/BookStore/BookStore/wwwroot/lib/jquery/core.js
/BookStore/BookStore/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/BookStore/BookStore/bin/Debug/netcoreapp3.1/BookStore.Views.pdb
/BookStore/BookStore/bin/Debug/netcoreapp3.1/BookStore.Views.dll
/BookStore/.vs/BookStore/FileContentIndex/cc340334-abc3-47cd-a116-f0b35ebd71c4.vsidx
/BookStore/.vs/BookStore/FileContentIndex/bc93bd7c-afc4-47db-9ed7-625fbdc198ab.vsidx
/BookStore/.vs/BookStore/FileContentIndex/b2bd71d5-d926-4ca3-8dc9-8010c03e4ad5.vsidx
/BookStore/.vs/BookStore/FileContentIndex/ad85fbf7-3415-46b8-b9ac-14747991fb74.vsidx
/BookStore/BookStore/obj/Debug/netcoreapp3.1/project.razor.vs.json
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.Views.pdb
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.Views.dll
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.TagHelpers.output.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.TagHelpers.input.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.RazorTargetAssemblyInfo.cs
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.RazorCoreGenerate.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.RazorAssemblyInfo.cs
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.RazorAssemblyInfo.cache
/BookStore/BookStore/obj/Debug/netcoreapp3.1/BookStore.csproj.CopyComplete
/BookStore/BookStore/obj/Release/netcoreapp3.1/BookStore.RazorAssemblyInfo.cs
/BookStore/BookStore/obj/Release/netcoreapp3.1/BookStore.RazorAssemblyInfo.cache
