
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/site.css" rel="stylesheet" />
<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="container">
  <img src="~/images/logo.png" class="logo" alt="logo" />

  <input type="button" value="Click Me" class="btn btn-danger"/>
  <h1 class="h1">Welcome to BookStore App</h1>
  <p>This is home page of our application</p>
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>

<script>
  $(document).ready(function (){
    alert("Page loaded");
  });
</script>

